[Unit]
Description=Trepco's distributed currency daemon
After=network.target

[Service]
User=trepco
Group=trepco

Type=forking
PIDFile=/var/lib/trepcod/trepcod.pid

ExecStart=/usr/bin/trepcod -daemon -pid=/var/lib/trepcod/trepcod.pid \
          -conf=/etc/trepco/trepco.conf -datadir=/var/lib/trepcod

ExecStop=-/usr/bin/trepco-cli -conf=/etc/trepco/trepco.conf \
         -datadir=/var/lib/trepcod stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
